/*
	1.0 For the bullet-style navigation menu:
		http://codepen.io/ianfarb/pen/DegqJ
	2.0 For removing the white space between LI elements
		http://stackoverflow.com/questions/5256533/a-space-between-inline-block-list-items
	3.0 For transitions
		http://stackoverflow.com/questions/9393125/delay-mouseout-hover-with-css3-transitions
	4.0 For button effects
		http://ianlunn.github.io/Hover/
*/

  
/* Set body alignment to center */
body {
	margin:50px 0px; padding:0px; 
	text-align:center;
	}
	
* {    margin: 0;
  padding: 0;}


/* Dummy LI element, this will change the background */
.bg {
  position: fixed;
  z-index: 0;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: .5s all ease-in;
  -moz-transition: .5s all ease-in;
  -ms-transition: .5s all ease-in;
  -o-transition: .5s all ease-in;
  pointer-events: none;
  opacity:0;
}

.bg2{
  position: fixed;
  z-index: 0;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: .5s all ease-in;
  -moz-transition: .5s all ease-in;
  -ms-transition: .5s all ease-in;
  -o-transition: .5s all ease-in;
  pointer-events: none;
  opacity:0;
}

.bg3{
  position: fixed;
  z-index: 0;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: .5s all ease-in;
  -moz-transition: .5s all ease-in;
  -ms-transition: .5s all ease-in;
  -o-transition: .5s all ease-in;
  pointer-events: none;
  opacity:0;
}


/* Remove white space between list elements */
ul {
    font-size: 1;

}

/* Removes bulletpoint in LI; also displays it side by side */
li {
	list-style:none;
	display: inline;

}

.menu li:first-child:hover ~ .bg {
  opacity:1;
}
.menu li:nth-child(2):hover ~ .bg2 {
  opacity:1;
}
.menu li:nth-child(3):hover ~ .bg3{
  opacity:1;
}


/* Buzz Out */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Footer */
#footer {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}